body{
    text-align: center;
    background-color: dodgerblue;
    }
    
    #placessect1{
    background-color: lightskyblue;
    z-index: 9;
    }
    
    h1{
    font-size: 70;
    font-family: fantasy;
    }
    
    h2{
    font-size: 70;
    font-family: fantasy;
    }
    
    h3{
        font-size: 40;
        font-family: fantasy;
    }
    
    h4{
        font-size: 40;
        font-family: fantasy;
    }
    h5{
        font-size: 40;
        font-family: fantasy;
    }
    h6{
        font-size: 40;
        font-family: fantasy;
    }
    
    #Madikeri{
        border-radius: 20px;
        width: 600px;
        margin-bottom: 50px;
        padding: 30px;
    }
    
    #placessect2{
        background-color: rgb(233, 73, 73);
        z-index: 9;
        }
    
    #Kudremukh{
        border-radius: 20px;
        width: 600px;
        margin-bottom: 50px;
         padding: 30px;
     }
    
 